# Godot 4.x - archivos internos
.godot/
*.import
*.tmp
*.bak
*.cfg

# Mono (si usas C# en Godot)
.mono/

# Archivos de exportación (opcional)
# Si trabajas en equipo y todos necesitan la misma config de exportación, coméntalos.
#export.cfg
#export_presets.cfg

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

